.personContainer {
    overflow: hidden;
}

.startFlex,
.endFlex,
.midFlex,
.fillUp {
    display: flex;
}

.startFlex {
    width: 45%;
    order: 1;
}

.fillUp {
    order: 2;
    width: 10%;
}

.endFlex {
    width: 45%;
    order: 3;
    justify-content: flex-end;
}

.midFlex {
    flex-grow: 1;
    flex-basis: auto;
    padding: 0 8px;
    order: 4;
    overflow: hidden;
}

li {
    display: flex;
    flex-wrap: wrap;
}

.breakContainer {
    flex-direction: column;
}

@media (min-width: 375px) {
    .breakContainer {
        flex-direction: row;
    }
}

@media (min-width: 576px) {
    li {
        flex-wrap: nowrap;
    }

    .startFlex {
        width: auto;
        order: 1;
    }
    
    .fillUp {
        order: 2;
        width: 0;
    }
    
    .endFlex {
        width: auto;
        order: 4;
        justify-content: flex-end;
    }
    
    .midFlex {
        padding-right: 50px;
        order: 3;
        overflow: hidden;
    }
}


button {
    border: none;
}

button.close,
button.edit,
button.showDetails {
    border-radius: 50%;
    color: rgb(121, 121, 121);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: 100ms;
}

button.close:hover,
button.cancelBtn:hover {
    color: rgb(237, 133, 133);
    transition: 200ms;
}

button.close:active,
button.cancelBtn:active {
    color: rgb(255, 209, 209);
    transition: 100ms;
}

button.edit:hover,
button.showDetails:hover {
    color: rgb(133, 162, 237);
    transition: 200ms;
}

button.edit:active,
button.showDetails:active {
    color: rgb(167, 185, 231);
    transition: 100ms;
}

button.saveBtn:hover {
    color: rgb(139, 235, 201);
    transition: 200ms;
}

button.saveBtn:active {
    color: rgb(207, 230, 221);
    transition: 200ms;
}

.dateMini {
    padding: 0.3rem 10px 0 0;
}

li h4 {
    padding: 0.4rem 0;
    font-size: 1rem;
    margin: 0;
    white-space: nowrap;
}

.person {
    display: flex;
}

.person p {
    margin: 0;
}

.person i {
    margin-bottom: 0.3rem;
}

li input,
li textarea {
    flex-grow: 1;
    flex-basis: auto;
    background-color: inherit;
    color: black;
    padding: 0;
}

li input {
    border: none;
    border-bottom: 2px solid rgb(184, 184, 184);
    transition: 200ms;
}

li input.dateInput {
    flex-grow: 0;
    border: none;
}

li input:disabled {
    border-bottom: none;
    transition: 200ms;
}

li input:hover,
li textarea:hover {
    border-color: rgb(160, 160, 160);
    transition: 200ms;
}

li input:focus,
li textarea:focus {
    outline: none;
    border-color: rgb(121, 121, 121);
    transition: 200ms;
}

li div.inputContainer {
    display: flex;
    margin-top: 0.4rem;
}

.itemInfoContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
}

li label {
    font-weight: bold;
    margin-right: 10px;
}

input.titleInput {
    font-weight: bold;
}

li textarea {
    margin-bottom: 0.6rem;
    border: 2px solid rgb(184, 184, 184);
    transition: 200ms;
}

li textarea:disabled {
    border: none;
    transition: 200ms;
}

li div.editBtnsContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.6rem;
}

.saveBtn,
.cancelBtn {
    display: flex;
    align-items: center;
    color: rgb(121, 121, 121);
    transition: 100ms;
}

.notifItem {
    margin: 0;
    display: inline;
    padding: 0 5px;
    background-color: rgb(237, 133, 133);
    color: white;
    border-radius: 0 0 5px 5px;
}