:root {
  --agenda-nav: rgb(124, 177, 233);
  --agenda-main: rgb(237, 237, 237);
  --agenda-th: rgb(172, 172, 172);
  --agenda-error: rgb(237, 133, 133);
  --agenda-success: rgb(100, 198, 164);
}

.app-wrapper {
  background-color: var(--agenda-main);
  height: 100vh;
}

.bg-nav {
  background-color: var(--agenda-nav);
}

.bg-nav-important {
  background-color: var(--agenda-nav) !important;
}

.bg-ag-error {
  background-color: var(--agenda-error);
}

.bg-ag-error-important {
  background-color: var(--agenda-error) !important;
}

.bg-ag-success {
  background-color: var(--agenda-success);
}

.bg-ag-success-important {
  background-color: var(--agenda-success) !important;
}

html, body, .overflow-x-hidden {
  overflow-x: hidden
}

.overflow-x-scroll {
  overflow-x: scroll
}

.min-width-btn-common {
  min-width: 80px
}

.borderless-btn {
  border: 0;
  background-color: inherit;
}